.body-register{
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    

}

.form-center{
    display: flex;
    justify-content: center;
}

.form-wrapper{
    border-radius: 4px;
    width: auto;
    max-width: 450px;
    margin: 5px;
    padding: 30px;
    background-color: #ACE2E1(42,42,42,1);
}

.form-wrapper h2{
    color:#1B275F;
    font-size: 2rem;
}

.form-wrapper form{
    margin: 20px 0 10px;
}

.form-control{
    height: 50px;
    position: relative;
    margin-top: 15px;
}


.form-control input, .form-control select{
    height: 100%;
    width: 100%;
    border: solid #1B275F 2px;
    background-color: #ACE2E1(255,255,255,0.1);
    border-radius: 25px;
    outline: none;
    color: #1B275F;
    font-size: 1rem;
    padding: 0 20px;
    padding-top: 24px;
    box-sizing: border-box;
}

.form-control input:focus, .form-control select:focus{
    background: whitesmoke;
    }

.form-control label{
    position: absolute;
    left: 20px;
    color:grey;
    top: 20%;
    font-size: 1rem;
    transform: translateY(-50%);
    pointer-events: none ;
    transition: all 0.1s ease;
    margin-top: 5px;
}

.form-control input:focus + label, .form-control input:valid + label,
.form-control select:focus + label, .form-control select:valid + label {
    top: 5px;
    font-size: 0.75rem;
    color: #1B275F;
}

#birthdate{
    padding: 24px;
}

#label-birthdate{
    font-size: 0.75rem;
}

.form-select{
    display: block;
    width: 100%;
    padding: 12px 20px;
    font-size: 1rem;
    background-color: #ACE2E1(255,255,255,0.1);
    font-weight: 400;
    line-height: 1.5;
    color: white;
    border: 2px solid #1B275F;
    border-radius: 25px;
}

.form-select option{
    color: grey;
}

form button{
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    background-color: #1B275F ;
    color:white;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 4px;
    margin: 25px 0 10px;
    cursor: pointer;
    transition: 0.1s ease;
}

form button:hover {
    background-color: #1a7c8a;
}
.error{
    color: red;
    margin-bottom: 5px;
}

form-control input.error, .form-select.error{
    border: 2px solid red

}