@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css');
*{
    margin: 0px 5px;
    padding: 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    
}

h1{
    padding: 1% 1% 1% 1%;
     color: #1B275F;
     font-family: "Roboto", sans-serif;
     font-weight: 900;
     font-size: 30px;
     font-style: bold;
     /*max-width: 15em;*/  /* lucas: xq este ancho maximo? */
     display: flex;
     text-transform: uppercase;
     justify-content: center;
     align-items: center;
}


h2{
    color:#1B275F;
    font-family: "Roboto", sans-serif;
     font-weight: 900;
     font-size: 20px;
     font-style: normal;
     max-width: 15em;
     text-transform: uppercase;
}


#logo{
    display: flex;
    align-items: center;
}

.nav-links{

    font-family: "Play", sans-serif;
    font-weight: 800;
    font-style: normal;
    display: flex;
    text-transform: uppercase;
    justify-content: end;
    list-style: none; 
    gap: 10px;
    font-size: 80%;
    padding: 5px;
}

.nav-links li a{
    line-height: 20px;
    text-decoration: none;
}

.nav-links li a:hover{
    color: blue;
    font-size: 120%;
}

.menu-toggle{
    display: none;
}

.menu-toggle-icon{
    display: none;
    cursor: pointer;
    color: #1B275F;
    font-size: 30px;
}

.nav-links-mobile{
    display: none;
    flex-direction: column;
    background-color:#ACE2E1;
    color:#1B275F;
    width: 100%;
    list-style-type: none;
}

.nav-links-mobile li{
    padding: 10px;
}

.menu-toggle:checked~.nav-links-mobile{
    display: flex;
    flex-direction: column;
    color: red;
}

.header~.menu-toggle:checked{
    flex-direction: column;
}


@media (max-width:740px){

    .nav-links{
        display: none;
    }
    .menu-toggle-icon{
        display: block;
        color: red;
    }


.div-toggle{
    display: flex;
    justify-content: end;
    flex-direction: column;
}




}




.header{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    background-color:#ACE2E1;
    padding:10px 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

section{
    background-color: #41C9E2;
    padding: 10px;
    position:sticky;
}

#banner{
    background-image: url('../happy-beautiful-young-woman-looking-600nw-2152576239.webp');
    background-size:65%;
    background-position: center;
    height:30vh;
    max-width:100%

}

body{
    background-color: #008DDA;
    font-family: "Reddit Sans", sans-serif;
}



#contenido{
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* INCOMPLETO!!! 
https://www.youtube.com/watch?v=2CEptqw-bSQ&t=546s

.carrusel{
width: 90%;
max-width: 120em;
background-color: #239aaf;
@include neo(1, 1em,1em);    

}

.carrusel.grande{
    width: 200%;
    background-color: orange;
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;

}
.carrusel.img{
    width:calc( 100% / 2);
    background-color: LIME;

}

.carrusel.puntos{
    width:100%;
    background-color: RED;
    padding: 1em;
    padding:1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.carrusel.punto{
    width: 2em;
    height: 2em;
    background-color: blue;
    margin 1em;
}

*/

/*agregado por Christian*/
.TituloSection{
    color: #ffffff;
    text-align: center;
    margin: 50px 0px 25px;
    font-size: 200%;
}
/*principales diarios*/

.imgDiario {
    width: 75%;
	height: 75%;
    object-fit: contain;
}

.linkDiario {
    width: 320px;
    margin: 30px;
	height: 260px;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	text-align: center;
	transition: all ;
	background: white;
    text-decoration: none;
    color: #000000;
}

.contDiario {
    max-width: 50%;
    max-height: 50%;
	display: flex;
	justify-content: center;
	margin: auto;
	box-sizing: content-box;
}

.dia {
    height: 100hv;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*precio dolares*/
.framePrecio {
    width: 320px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgb(0, 0, 0 / 25%) ;
    display: flex;
    justify-content: center;
    border: 1px solid #bcbcbc;
    margin: 10px;
}

.dol {
    display: inline-flex;
    flex-wrap: wrap;
}

/*noticias*/
/* Noticias < noticia < refNoticia < ImNot, cuerpo < tituloNoticia, descrNoticia */
.noticia {
    margin: 30px;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
    justify-content: flex-start;
    display: flex;
	transition: all ;
	background: rgb(231, 231, 231);


}
.cuerpo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 10px;
}

.refNoticia {
    display: inline-flex;
    text-decoration: none;
    color: #000000;
}
.ImNot {
    width: 300px;
    height: auto;
    object-fit: contain;
}

/*footer*/
.contenedorFooter{
    width: 100%;
    height: 100hv;
	background: #202020;
	color: #aaf;
    font-family: "Roboto", sans-serif;
	font-size: 10px;
	padding: 1rem;
    box-sizing: content-box;

}


.sociales {
    margin: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #aaf;
}

footer div a {
    margin: 0px 20px;
    color: #aaf;
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;

}

footer div a:hover {
    color: #22e;
    font-size: 30px;
}

/*estilo acercaDe*/



.DescrEmpresa {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.StringDescrEmpresa {
    justify-content: block;
    text-align: justify;
}

.Staff {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.integrante {
    /*display: inline-flex;
    flex-wrap: wrap;
    margin: 30px;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
    justify-content: flex-start;
    display: flex;
	transition: all ;
	background: rgb(231, 231, 231);*/
    display: flex;
    margin: 30px;
}

.IntCont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: inline-flex;
    flex-wrap: wrap;
    
	border-radius: 0 10px 10px 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
    justify-content: flex-start;
    display: flex;
	transition: all ;
	background: rgb(231, 231, 231);
}

.FotoPerfil {
    border-radius: 100% 0 0 100%;
    object-fit: contain;
}